@model Cinema_Rinku_Empleados.Models.EmpleadosModel

@{
    ViewData["Title"] = "Edit";
}

<div class="card">
    <h5 class="card-header">Actualizar datos del empleado</h5>
    <div class="card-body">

        <form asp-action="Edit">
            <div class="row">
                <div class="col-md-3 mb-2">
                    @Html.LabelFor(m => m.NumeroEmpleado)
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.RolId)
                </div>
                <div class="col-md-4">
                </div>
            </div>

            <div class="row col-">
                <div class="col-md-3 mb-4">
                    @Html.TextBoxFor(m => m.NumeroEmpleado, new { @class = "form-control", disabled= true})
                    @Html.TextBoxFor(m => m.NumeroEmpleado2, new { @class = "form-control", hidden= true})
                    <span asp-validation-for="NumeroEmpleado" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    @Html.DropDownListFor(m => m.RolId, Model.ListRoles, new { @class = "form-select"})
                    <span asp-validation-for="RolId" class="text-danger"></span>
                </div>

                <div class="col-md-4">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-check" data-bs-toggle="tooltip" data-bs-placement="top" title="Guardar"></i> Guardar</button>
                        &nbsp;&nbsp;
                        <a asp-action="Index" class="btn btn-secondary"><i class="fas fa-arrow-alt-circle-left"></i> Cancelar</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 mb-2">
                    @Html.LabelFor(m => m.Nombre)
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.ApellidoP)
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.ApellidoM)
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 mb-5">
                    @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control"})
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.ApellidoP, new { @class = "form-control"})
                    <span asp-validation-for="ApellidoP" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.ApellidoM, new { @class = "form-control"})
                    <span asp-validation-for="ApellidoM" class="text-danger"></span>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
